APScheduler==3.10.4
Authlib==1.3.2
Babel==2.15.0
Brotli==1.0.9
Cython==3.0.11
Deprecated==1.2.14
Events==0.5
Flask-Cors==5.0.0
Flask==3.0.3
GitPython==3.1.43
ImageHash==4.3.1
Jinja2==3.1.4
MACS3==3.0.3b0
Mako==1.3.6
Markdown==3.7
MarkupSafe==2.1.5
PubChemPy==1.0.4
PyJWT==2.10.1
PyMySQL==1.1.1
PyPDF2==3.0.1
PyPika==0.48.9
PySocks==1.7.1
PyWavelets==1.7.0
PyYAML==6.0.1
Pygments==2.18.0
Pyomo==6.8.2
RTFDE==0.1.2
RapidFuzz==3.11.0
SQLAlchemy==2.0.32
Send2Trash==1.8.3
UpSetPlot==0.9.0
Werkzeug==3.0.6
XlsxWriter==3.2.1
absl-py==2.1.0
accelerate==1.0.1
accumulation_tree==0.6.4
adjustText==1.2.0
aiocache==0.12.3
aiofiles==24.1.0
aiohappyeyeballs==2.3.5
aiohttp==3.11.8
aiosignal==1.3.1
alembic==1.14.0
anaconda-anon-usage==0.4.4
anndata==0.11.3
annotated-types==0.7.0
annoy==1.17.3
anthropic==0.45.0
anyio==4.4.0
appdirs==1.4.4
arboreto==0.1.6
archspec==0.2.3
argon2-cffi-bindings==21.2.0
argon2-cffi==23.1.0
array_api_compat==1.7.1
arrow==1.3.0
arviz==0.21.0
asgiref==3.8.1
asttokens==2.4.1
astunparse==1.6.3
async-lru==2.0.4
async-timeout==5.0.1
asyncio-atexit==1.0.1
attrs==23.2.0
av==12.3.0
backoff==2.2.1
bambi==0.15.0
bcrypt==4.2.0
beautifulsoup4==4.12.3
bidict==0.23.1
binaryornot==0.4.4
bioinfokit==2.1.4
biomart==0.9.2
biopython==1.84
biothings-client==0.3.1
bitarray==3.0.0
black==24.8.0
bleach==6.1.0
blinker==1.9.0
blitzgsea==1.3.47
blosc2==3.1.1
bokeh==3.7.0
boltons==23.0.0
boto3==1.35.53
botocore==1.35.99
build==1.2.2.post1
cachetools==5.5.1
cairocffi==1.7.1
category_encoders==2.7.0
cattrs==24.1.2
certifi==2024.12.14
certifi==2024.6.2
cffi==1.16.0
chardet==5.2.0
charset-normalizer==2.0.4
chex==0.1.88
chroma-hnswlib==0.7.6
chromadb==0.6.2
click==8.1.7
cloudpickle==3.0.0
colbert-ai==0.2.21
colorclass==2.2.2
coloredlogs==15.0.1
colorlog==6.9.0
combat==0.3.3
comm==0.2.2
compressed_rtf==1.0.6
conda-content-trust==0.2.0
conda-libmamba-solver==24.1.0
conda-package-handling==2.2.0
conda==24.5.0
conda_package_streaming==0.9.0
conorm==1.2.0
cons==0.4.6
contourpy==1.2.1
cookiecutter==2.6.0
cryptography==42.0.5
ctranslate2==4.5.0
ctxcore==0.2.0
cycler==0.12.1
cykhash==2.0.1
cytoolz==1.0.1
dacite==1.8.1
dash==3.0.4
dask-expr==1.1.6
dask==2025.3.0
dataclasses-json==0.6.7
datasets==3.0.2
debugpy==1.8.2
decorator==5.1.1
decoupler==1.8.0
defusedxml==0.7.1
deprecation==2.1.0
dill==0.3.8
distributed==2025.3.0
distro==1.9.0
dnspython==2.7.0
docker-pycreds==0.4.0
docker==7.1.0
docrep==0.3.2
docx2txt==0.8
duckduckgo_search==7.2.1
durationpy==0.9
easygui==0.98.3
ebcdic==1.1.1
ecdsa==0.19.0
einops==0.8.0
email_validator==2.2.0
emoji==2.14.1
ensembl-converter==0.0.1
equinox==0.11.11
et-xmlfile==1.1.0
etils==1.11.0
etuples==0.3.9
eval_type_backport==0.2.2
executing==2.0.1
extract-msg==0.52.0
fake-useragent==1.5.1
fastapi-cli==0.0.7
fastapi==0.111.0
faster-whisper==1.0.3
fastjsonschema==2.20.0
filelock==3.15.4
filetype==1.2.0
flatbuffers==24.3.25
flax==0.10.2
fonttools==4.53.0
formulae==0.5.4
formulaic-contrasts==1.0.0
formulaic==1.1.1
fpdf2==2.8.2
fqdn==1.5.1
frozendict==2.4.4
frozenlist==1.4.1
fs==2.4.16
fsspec==2024.6.0
ftfy==6.2.3
future==1.0.0
gast==0.6.0
gcp-storage-emulator==2024.8.3
gdown==5.2.0
geneformer==0.1.0
gensim==4.3.3
git-python==1.0.3
gitdb==4.0.11
google-ai-generativelanguage==0.6.6
google-api-core==2.24.0
google-api-python-client==2.159.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
google-auth==2.38.0
google-cloud-core==2.4.1
google-cloud-storage==2.19.0
google-crc32c==1.6.0
google-generativeai==0.7.2
google-pasta==0.2.0
google-resumable-media==2.7.2
googleapis-common-protos==1.63.2
graphviz==0.20.3
greenlet==3.1.1
grpcio-status==1.62.3
grpcio-tools==1.62.3
grpcio==1.64.1
gseapy==1.1.3
h11==0.14.0
h2==4.1.0
h5netcdf==1.6.1
h5py==3.11.0
hmmlearn==0.3.2
hpack==4.1.0
htmlmin==0.1.12
httpcore==1.0.5
httplib2==0.22.0
httptools==0.6.4
httpx-sse==0.4.0
httpx==0.27.0
huggingface-hub==0.26.2
huggingface==0.0.1
humanfriendly==10.0
humanize==4.11.0
hyperframe==6.1.0
idna==3.7
igraph==0.11.6
imageio==2.35.1
imbalanced-learn==0.13.0
imblearn==0.0
importlib-metadata==6.11.0
importlib_resources==6.4.5
iniconfig==2.0.0
interface-meta==1.3.0
interlap==0.2.7
ipykernel==6.29.4
ipython-genutils==0.2.0
ipython==8.25.0
ipywidgets==8.1.5
isoduration==20.11.0
itsdangerous==2.2.0
jax==0.5.0
jaxlib==0.5.0
jaxopt==0.8.3
jaxtyping==0.2.37
jedi==0.19.1
jiter==0.8.2
jmespath==1.0.1
joblib==1.3.2
json5==0.9.25
jsonpatch==1.33
jsonpath-python==1.0.6
jsonpointer==2.1
jsonschema-specifications==2023.12.1
jsonschema==4.22.0
jupyter-events==0.10.0
jupyter-highlight-selected-word==0.2.0
jupyter-lsp==2.2.5
jupyter_client==8.6.2
jupyter_contrib_core==0.4.2
jupyter_contrib_nbextensions==0.7.0
jupyter_core==5.7.2
jupyter_nbextensions_configurator==0.6.4
jupyter_server==2.14.1
jupyter_server_terminals==0.5.3
jupyterlab==4.2.2
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.2
jupyterlab_widgets==3.0.13
kaleido==0.2.1
keras==3.6.0
kiwisolver==1.4.5
kubernetes==32.0.0
lamin_utils==0.13.10
langchain-community==0.3.7
langchain-text-splitters==0.3.5
langchain==0.3.7
langdetect==1.0.9
langfuse==2.44.0
langsmith==0.1.147
lark==1.1.9
lazy_loader==0.4
ldap3==2.9.1
legacy-api-wrap==1.4
leidenalg==0.10.2
libclang==18.1.1
libmambapy==1.5.8
lightgbm==4.5.0
lightning-utilities==0.11.9
lightning==2.5.0.post0
lineax==0.0.7
llvmlite==0.43.0
locket==1.0.0
logical-unification==0.4.6
loompy==3.0.7
lxml==5.3.0
lz4==4.4.3
markdown-it-py==3.0.0
marshmallow==3.26.0
matplotlib-inline==0.1.7
matplotlib-venn==1.1.1
matplotlib==3.7.5
mdurl==0.1.2
menuinst==2.0.2
milvus-lite==2.4.11
miniKanren==1.0.3
missingno==0.5.2
mistune==3.0.2
ml-dtypes==0.4.1
ml_collections==1.0.0
mmh3==5.0.1
mofapy2==0.7.2
monotonic==1.6
moto==5.0.27
mpmath==1.3.0
msgpack==1.1.0
msoffcrypto-tool==5.4.2
mudata==0.3.1
multidict==6.0.5
multimethod==1.10
multipledispatch==1.0.0
multiprocess==0.70.16
multiprocessing_on_dill==3.5.0a4
muon==0.1.7
mygene==3.2.2
mypy-extensions==1.0.0
namex==0.0.8
narwhals==1.31.0
natsort==8.4.0
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
ndindex==1.9.2
nest-asyncio==1.6.0
networkx==3.3
ninja==1.11.1.3
nltk==3.9.1
node2vec==0.5.0
notebook-as-pdf==0.5.0
notebook==7.2.1
notebook_shim==0.2.4
numba==0.60.0
numexpr==2.10.2
numpy-groupies==0.11.2
numpy==1.26.4
numpyro==0.16.1
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvcc-cu12==12.5.82
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.20.5
nvidia-nvjitlink-cu12==12.5.82
nvidia-nvtx-cu12==12.1.105
oauthlib==3.2.2
olefile==0.47
oletools==0.60.2
onnxruntime==1.20.1
open-webui==0.5.7
openai==1.60.0
opencv-python-headless==4.10.0.84
opencv-python==4.11.0.86
openpyxl==3.1.5
opensearch-py==2.7.1
opentelemetry-api==1.27.0
opentelemetry-exporter-otlp-proto-common==1.27.0
opentelemetry-exporter-otlp-proto-grpc==1.27.0
opentelemetry-exporter-otlp-proto-http==1.21.0
opentelemetry-instrumentation-asgi==0.48b0
opentelemetry-instrumentation-fastapi==0.48b0
opentelemetry-instrumentation==0.48b0
opentelemetry-proto==1.27.0
opentelemetry-sdk==1.27.0
opentelemetry-semantic-conventions==0.48b0
opentelemetry-util-http==0.48b0
opt-einsum==3.3.0
optax==0.2.4
optree==0.12.1
optuna-integration==4.0.0
optuna==4.0.0
orbax-checkpoint==0.11.1
orjson==3.10.15
ott-jax==0.5.0
overrides==7.7.0
packaging==23.2
pandas-profiling==3.2.0
pandas-visual-analysis==0.0.4
pandas==2.2.3
pandera==0.20.3
pandocfilters==1.5.1
parso==0.8.4
partd==1.4.2
passlib==1.7.4
pathspec==0.12.1
patsy==0.5.6
pcodedmp==1.2.6
pdfkit==1.0.0
peewee-migrate==1.12.2
peewee==3.17.8
peft==0.13.2
pertpy==0.9.5
pexpect==4.9.0
pgvector==0.3.5
phik==0.12.4
pillow==10.3.0
pip==25.0
platformdirs==3.10.0
plotly-resampler==0.10.0
plotly==5.23.0
pluggy==1.0.0
pluggy==1.5.0
ply==3.11
pmdarima==2.0.4
portalocker==2.10.1
posthog==3.9.3
primp==0.10.1
prometheus_client==0.20.0
prompt_toolkit==3.0.47
propcache==0.2.1
proto-plus==1.25.0
protobuf==4.25.3
psutil==5.9.8
psycopg2-binary==2.9.9
ptyprocess==0.7.0
pure-eval==0.2.2
py-cpuinfo==9.0.0
py-partiql-parser==0.6.1
pyarrow==16.1.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pybedtools==0.10.0
pybiomart==0.2.0
pycaret==3.3.2
pyclipper==1.3.0.post6
pycosat==0.6.6
pycparser==2.21
pydantic-settings==2.7.1
pydantic==2.9.2
pydantic_core==2.23.4
pydeseq2==0.5.1
pydub==0.25.1
pyee==11.1.1
pymc==5.22.0
pymdown-extensions==10.11.2
pymilvus==2.5.0
pymongo==4.10.1
pynndescent==0.5.13
pyod==2.0.5
pypandoc==1.13
pyparsing==3.1.2
pypdf==4.3.1
pypi-latest==0.1.2
pyppeteer==2.0.0
pyproject_hooks==1.2.0
pyro-api==0.1.2
pyro-ppl==1.9.1
pysam==0.22.1
pyscenic==0.12.1
pytensor==2.30.3
pytest-docker==3.1.1
pytest==8.3.4
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-engineio==4.11.2
python-igraph==0.11.6
python-iso639==2024.10.22
python-jose==3.3.0
python-json-logger==2.0.7
python-magic==0.4.27
python-multipart==0.0.18
python-oxmsg==0.0.1
python-pptx==1.0.0
python-slugify==8.0.4
python-socketio==5.11.3
pytorch-lightning==2.5.0.post0
pytube==15.0.0
pytz==2024.1
pyudorandom==1.0.0
pyxlsb==1.0.10
pyzmq==26.0.3
qdrant-client==1.12.2
questionary==2.1.0
rank-bm25==0.2.2
rapidocr-onnxruntime==1.3.24
ray==2.38.0
red-black-tree-mod==1.20
redis==5.2.1
referencing==0.35.1
regex==2024.9.11
requests-cache==1.2.1
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
requests==2.31.0
requests==2.32.3
responses==0.25.6
retrying==1.3.4
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich-toolkit==0.13.2
rich==13.7.1
rnanorm==2.1.0
rotation_forest==1.0
rpds-py==0.18.1
rsa==4.9
ruamel.yaml==0.17.21
s3transfer==0.10.4
safetensors==0.4.5
sanbomics==0.1.0
sc-toolbox==0.12.3
scanpy==1.10.2
schemdraw==0.15
scikit-base==0.7.8
scikit-image==0.24.0
scikit-learn==1.6.1
scikit-misc==0.5.1
scikit-plot==0.3.7
scipy==1.11.4
scrublet==0.2.3
scvi-tools==1.2.2.post2
seaborn==0.13.2
sentence-transformers==3.3.1
sentencepiece==0.2.0
sentry-sdk==2.9.0
session_info==1.0.0
setproctitle==1.3.3
setuptools==69.5.1
setuptools==75.3.0
shap==0.46.0
shapely==2.0.6
shellingham==1.5.4
simple-websocket==1.1.0
simplejson==3.19.3
six==1.16.0
sklearn-compat==0.1.3
sktime==0.26.0
slicer==0.0.8
smart-open==7.0.4
smmap==5.0.1
snfpy==0.2.2
sniffio==1.3.1
sortedcontainers==2.4.0
soundfile==0.12.1
soupsieve==2.5
sparse==0.15.5
sparsecca==0.3.1
stack-data==0.6.3
statsmodels==0.14.2
stdlib-list==0.10.0
sweetviz==2.3.1
sympy==1.13.0
synapseclient==4.4.0
tables==3.10.2
tabulate==0.9.0
tangled-up-in-unicode==0.2.0
tbats==1.1.3
tblib==3.0.0
tdigest==0.5.2.2
tenacity==9.0.0
tensorboard-data-server==0.7.2
tensorboard==2.18.0
tensorflow==2.18.0
tensorstore==0.1.71
termcolor==2.4.0
terminado==0.18.1
text-unidecode==1.3
texttable==1.7.0
textwrap3==0.9.2
tf_keras==2.18.0
threadpoolctl==3.5.0
thundersvm==0.3.12
tifffile==2024.8.30
tiktoken==0.8.0
tinycss2==1.3.0
tokenizers==0.20.1
toolz==0.12.1
torch==2.3.1
torch_cluster==1.6.3
torch_geometric==2.5.3
torch_scatter==2.1.2
torch_sparse==0.6.18
torch_spline_conv==1.2.2
torchaudio==2.3.1
torchmetrics==1.6.1
torchvision==0.18.1
torchviz==0.0.2
tornado==6.4.1
tqdm==4.66.2
tqdm==4.66.6
traitlets==5.14.3
transformers==4.46.1
truststore==0.8.0
tsdownsample==0.1.4.1
typeguard==4.3.0
typer==0.15.1
types-python-dateutil==2.9.0.20240316
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2024.1
tzlocal==5.2
ujson==5.10.0
umap-learn==0.5.6
unstructured-client==0.28.1
unstructured==0.15.9
uri-template==1.3.0
uritemplate==4.1.1
url-normalize==1.4.3
urllib3==1.26.19
urllib3==2.1.0
uvicorn==0.30.6
uvloop==0.21.0
validators==0.34.0
visions==0.7.6
wadler_lindig==0.1.3
wandb==0.17.4
watchfiles==1.0.4
wcwidth==0.2.13
webcolors==24.6.0
webencodings==0.5.1
websocket-client==1.8.0
websockets==10.4
wheel==0.43.0
wheel==0.44.0
widgetsnbextension==4.0.13
wordcloud==1.9.3
wrapt==1.16.0
wsproto==1.2.0
wurlitzer==3.1.1
xarray-einstats==0.8.0
xarray==2025.1.1
xlrd==2.0.1
xmltodict==0.14.2
xxhash==3.5.0
xyzservices==2025.1.0
yarl==1.18.3
ydata-profiling==4.10.0
yellowbrick==1.5
youtube-transcript-api==0.6.3
zict==3.0.0
zipp==3.20.0
zstandard==0.22.0